* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */


/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
	width: 24.25%;
	margin-bottom: 1%;
	position: relative;
	transition: box-shadow 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.gutter-sizer { width: 1%; }


.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.image {
  opacity: 1;
}

.grid-item:hover .image {
  opacity: 0.5;
}

.title {
	position: absolute;
	bottom: 15px;
	left: 15px;
	opacity: 0;
	max-height: 0px;
	transition: opacity 0.2s ease-in-out;
}
.grid-item:hover .title {
	opacity: 1;
	max-height: 900px;
	color:black;
}
